html, body {
    height: 100%;
    margin: 0;
}

body {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #87bfff;
    background-repeat: no-repeat;
}
#heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
}
.Buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 350px;

}
.Buttons button{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    border: 0;
    margin: 0;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #7638c4;
    color: #fff;
    font-size: 20px;
}
#Timer{
    position: absolute;
    top: 30%;
    left: 50%; 
    transform: translateX(-50%);
    font-size: 30px;
    color: #031738;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    padding-top: 70px;
    font-size: 50px;
}
button#Start, button#Stop{
    margin-right: 100px;
    padding-right: 50px;
    padding-left: 50px;
}
button#Reset{
    padding-right: 50px;
    padding-left: 50px;
}
h1 img{
    width: 150px;
    height: 150px;
}